<div class="{{eachtabcontent.tabData.middle.class}} primengapp-chart-block-class-wrapper">
  <div class="{{eachtabcontent.tabData.middle.middleMiddle.styleClass}} primengapp-chart-style-class-wrapper">
    <p-chart type="{{eachtabcontent.tabData.middle.middleMiddle.type}}" height="300px" [data]="eachtabcontent.tabData.middle.middleMiddle.data" [options]="eachtabcontent.tabData.middle.middleMiddle.options">
    </p-chart>
  </div>
  <div class="{{eachtabcontent.tabData.middle.middleRight.styleClass}} primengapp-chart-middleright-class-wrapper">
    <div [innerHTML]="eachtabcontent.tabData.middle.middleRight.value | safeHtml"></div>
  </div>
</div>
