/**
 *
 */

.primengapp-dev-wrapper .ui-table-wrapper .ui-table-tbody td,
.primengapp-dev-wrapper .ui-table-wrapper .ui-table-thead th {
  height: 50px;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-table-tbody > tr > td,
.primengapp-dev-wrapper .primeng-ptable .ui-table th {
  border: none;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-table-wrapper .ui-table-tbody > tr:nth-child(odd) {
  background: #f9f9f9;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-table-wrapper .ui-table-tbody > tr:nth-child(odd) {
  background: #ffffff;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table {
  margin: 14px;
}

.primengapp-dev-wrapper .border-right-2-fff-transparent {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.primengapp-dev-wrapper .ui-widget-header .primengapp-button-excel,
.primengapp-dev-wrapper .ui-widget-header .primengapp-button-copy{
  display: inline-block;
}
.primengapp-dev-wrapper .ui-widget-header .primengapp-button-excel button,
.primengapp-dev-wrapper .ui-widget-header .primengapp-button-copy button{
  background: #eee;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  border:1px solid #ccc;
  min-width: 64px;
  height: 32px;
  border-radius: 4px;
}

/**
 *
 */
.primengapp-dev-wrapper .ui-widget-header .table-copy-excel-button .primengapp-button-excel button {
  margin-left: 8px;
  background: #339966;
}

.primengapp-dev-wrapper .ui-widget-header .primengapp-button-excel button .ui-button-text{
  color: #fff;
}

.primengapp-dev-wrapper .primengapp-button-copy button:hover,
.primengapp-dev-wrapper .primengapp-button-copy button:focus {
  background: #f7f8f9;
  color: #000;
}

.primengapp-dev-wrapper .primeng-ptable .primengapp-button-excel .ui-button:enabled:hover,
.primengapp-dev-wrapper .primeng-ptable .primengapp-button-excel .ui-button:focus {
  background: #eee;
  color: #000;
  border:1px solid #ccc;
}

/**
 *
 */
.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-colum-multiselect,
.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-keyword-search .input-search,
.primengapp-dev-wrapper .primengapp-table-features-wrapper .table-copy-excel-button {
  margin-top: 18px;
  margin-bottom: 18px;
  height: 32px;
}

.primengapp-dev-wrapper .primengapp-table-colum-multiselect .ui-multiselect-label-container {
  height: 32px;
}

.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-keyword-search input::placeholder {
  color: #454545;
}

.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-keyword-search .input-search {
  border:1px solid #ccc;
  font-weight: normal;
  padding-left: 8px;
}

.primengapp-dev-wrapper .primeng-ptable .primengapp-table-features-wrapper {
  background-color: #ffffff;
}

/**
 *
 */
.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-sortable-column.ui-state-highlight {
  /*background: #fff;*/
  color: #333333;
}
.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-sortable-column.ui-state-highlight .pi-sort:before {
  color: blue;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-paginator-bottom {
  height: 60px;
  padding-top: 10px;
}
.primengapp-dev-wrapper .primeng-ptable .ui-paginator .ui-paginator-page.ui-state-active {
  background-color: #fff;
}

/**
 *
 */
.primeng-ptable .ui-paginator-bottom .ng-pristine.ui-inputwrapper-filled::after {
  content: "Results Displayed";
  font-weight: 500;
  margin-left: 6px;
}
