<div class="primengapp-dev-wrapper">

  <!-- table -->
  <div *ngIf="primengDataGeneral != null; else emptyObject">
    <div class="row" for="primengDataGeneral">
      <div *ngFor="let blockData of primengDataGeneral.primengcontentdata" class="primengapp-block-wrapper">
        <div for="blockData.blockContent">
          <div class="{{blockData.blockClass}} primengapp-block-class-wrapper" >
            <div class="{{blockData.blockClassSub}} block-sub-class-wrapper">
              <div class="primengapp-block-save-pg-icon-wrapper" [innerHTML]="blockData.blockIcon | safeHtml"></div>
              <div id="{{blockData.blockId}}" class="primengapp-block-first-wrapper">
                <div class="primengapp-block-header-wrapper" [innerHTML]="blockData.blockHeader | safeHtml"></div>
                <p-tabView class="primengapp-tab-view-wrapper-{{blockData.tabShow}}">
                  <div *ngFor="let eachtabcontent of blockData.blockContent; let i = index">
                    <p-tabPanel header="{{eachtabcontent.tabTitle}}" class="primengapp-tab-panel-wrapper" [selected]="i == 0">
                      <div class="{{eachtabcontent.tabData.class}} primengapp-tab-panel-content-wrapper">
                        <div class="primengapp-block-top-wrapper" [innerHTML]="eachtabcontent.tabData.top.value | safeHtml">
                        </div>

                        <!-- table -->
                        <div *ngIf="eachtabcontent.tabData.type == 'table'; else elseBlock">

                          <div class="primeng-ptable clear-both">
                            <p-table #dt [columns]="eachtabcontent.tabData.middle.thead" [value]="eachtabcontent.tabData.middle.tabledata" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30,300]" sortField="{{eachtabcontent.tabData.middle.tSortField}}" sortOrder="-1">
                              <ng-template pTemplate="paginatorleft" let-state>
                                ( Total Results {{state.totalRecords}} )
                              </ng-template>
                              <ng-template pTemplate="caption" class="primengapp-table-border">
                                <div class="row primengapp-table-features-wrapper text-align-left">
                                  <div class="col-sm-12 col-md-6 col-lg-6 primengapp-table-keyword-search">
                                    <input type="text" class="input-search width-auto" pInputText size="30" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                  </div>
                                  <!--
                                  <div class="col-sm-12 col-md-6 col-lg-3 primengapp-table-colum-multiselect">
                                    <p-multiSelect [options]="eachtabcontent.tabData.middle.tfields" [(ngModel)]="eachtabcontent.tabData.middle.thead" optionLabel="header"
                                      selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                                  </div>
                                  -->
                                  <div class="ui-helper-clearfix table-copy-excel-button col-sm-12 col-md-12 col-lg-offset-3 col-lg-3 lg-text-align-right">
                                    <div class="primengapp-button-copy">
                                      <button id="copy-button-{{eachtabcontent.tabData.tableId}}" type="button" pButton iconPos="left" label="COPY" (click)="copyMessage(eachtabcontent.tabData.middle.tabledata)"></button>
                                    </div>
                                    <div class="primengapp-button-excel">
                                      <button type="button" pButton iconPos="left" label="EXCEL" (click)="downloadTable(eachtabcontent.tabData.middle.tabledata, 'Download')"></button>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                              <div *ngIf="eachtabcontent.tabData.middle.thead.length > 0; else emptyObject">
                                <ng-template class="primengapp-table-header-wrapper" pTemplate="header" let-columns>
                                    <tr>
                                      <th *ngFor="let col of eachtabcontent.tabData.middle.thead" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width, 'text-align': col.textalign}">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                      </th>
                                    </tr>
                                </ng-template>
                              </div>
                              <div *ngIf="eachtabcontent.tabData.middle.thead.length > 0; else emptyObject">
                                <ng-template class="primengapp-table-data-wrapper" pTemplate="body" let-car let-columns="eachtabcontent.tabData.middle.thead">
                                    <tr>
                                      <td *ngFor="let col of eachtabcontent.tabData.middle.thead" [ngStyle]="{'text-align': col.textalign}" [innerHTML]="car[col.field] | safeHtml">
                                      </td>
                                    </tr>
                                </ng-template>
                              </div>
                            </p-table>
                          </div>
                        </div>

                        <div class="primengapp-block-bottom-wrapper clear-both" [innerHTML]="eachtabcontent.tabData.bottom.value">
                        </div>
                      </div>
                    </p-tabPanel>
                  </div>
                </p-tabView>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyObject>
    <p>
      No data available!
    </p>
  </ng-template>
</div>


