body .primengapp-dev-wrapper .ui-tabview .ui-tabview-panels {
  border: none;
  padding: 0px;
}

body .primengapp-dev-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.primengapp-block-class-wrapper .primengapp-tab-header-wrapper {
  line-height: 1.24;
}

.primengapp-dev-wrapper .form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.primengapp-dev-wrapper .legend-square {
  float: left;
  height: 12px;
  width: 12px;
  margin: 6px;
  margin-right: 6px;
}

.primengapp-dev-wrapper .primengapp-tab-view-wrapper-hide .ui-tabview-nav {
  display: none;
  height: 0px;
}

.primengapp-dev-wrapper .ui-tabview.ui-tabview-top>.ui-tabview-nav {
  border-bottom: solid 2px rgba(0, 0, 0, 0.12);
}
.primengapp-dev-wrapper .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
  border: 0;
}

.primengapp-dev-wrapper .primengapp-tab-view-wrapper-show .ui-tabview-nav li.ui-tabview-selected a {
  border-bottom: solid 3px #d6006e;
  color: rgb(63, 81, 181);
}

body .primengapp-dev-wrapper .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-right .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-top .ui-tabview-nav li a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-left .ui-tabview-nav li a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
  color: #385048;
}

.primengapp-dev-wrapper .ui-tabview .ui-tabview-nav li a,
.primengapp-dev-wrapper .ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
  background-color: white;
  font-size: 14px;
  padding: 12px 24px;
}

.primengapp-dev-wrapper .ui-state-default a {
  color: rgba(0, 0, 0, 0.54);
}

.primengapp-dev-wrapper .even-clear-both {
  clear: both;
}

.primengapp-block-class-wrapper .ui-tabview {
  padding: 0;
}

.ui-tabview .primengapp-tab-panel-wrapper > .ui-tabview-panel {
  padding: 0;
}

