body .primengapp-dev-wrapper .ui-tabview .ui-tabview-panels {
  border: none;
  padding: 0px;
}

body .primengapp-dev-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.primengapp-block-class-wrapper .primengapp-tab-header-wrapper {
  line-height: 1.24;
}

.primengapp-dev-wrapper .form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.primengapp-dev-wrapper .legend-square {
  float: left;
  height: 12px;
  width: 12px;
  margin: 6px;
  margin-right: 6px;
}

.primengapp-dev-wrapper .primengapp-tab-view-wrapper-hide .ui-tabview-nav {
  display: none;
  height: 0px;
}

.primengapp-dev-wrapper .ui-tabview.ui-tabview-top>.ui-tabview-nav {
  border-bottom: solid 2px rgba(0, 0, 0, 0.12);
}
.primengapp-dev-wrapper .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
  border: 0;
}

.primengapp-dev-wrapper .primengapp-tab-view-wrapper-show .ui-tabview-nav li.ui-tabview-selected a {
  border-bottom: solid 3px #d6006e;
  color: rgb(63, 81, 181);
}

body .primengapp-dev-wrapper .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-right .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-top .ui-tabview-nav li a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-left .ui-tabview-nav li a,
body .primengapp-dev-wrapper .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
  color: #385048;
}

.primengapp-dev-wrapper .ui-tabview .ui-tabview-nav li a,
.primengapp-dev-wrapper .ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
  background-color: white;
  font-size: 14px;
  padding: 12px 24px;
}

.primengapp-dev-wrapper .ui-state-default a {
  color: rgba(0, 0, 0, 0.54);
}

.primengapp-dev-wrapper .even-clear-both {
  clear: both;
}

.primengapp-dev-wrapper .ui-table-wrapper .ui-table-tbody td,
.primengapp-dev-wrapper .ui-table-wrapper .ui-table-thead th {
  height: 50px;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-table-tbody > tr > td,
.primengapp-dev-wrapper .primeng-ptable .ui-table th {
  border: none;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-table-wrapper .ui-table-tbody > tr:nth-child(odd) {
  background: #f9f9f9;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-table-wrapper .ui-table-tbody > tr:nth-child(odd) {
  background: #ffffff;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table {
  margin: 14px;
}


.primengapp-dev-wrapper .border-right-2-fff-transparent {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.primengapp-dev-wrapper .ui-widget-header .primengapp-button-excel,
.primengapp-dev-wrapper .ui-widget-header .primengapp-button-copy{
  display: inline-block;
}
.primengapp-dev-wrapper .ui-widget-header .primengapp-button-excel button,
.primengapp-dev-wrapper .ui-widget-header .primengapp-button-copy button{
  background: #eee;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  border:1px solid #ccc;
  min-width: 64px;
  height: 32px;
  border-radius: 4px;
}

.primengapp-dev-wrapper .ui-widget-header .table-copy-excel-button .primengapp-button-excel button {
  margin-left: 8px;
  background: #339966;
}

.primengapp-dev-wrapper .ui-widget-header .primengapp-button-excel button .ui-button-text{
  color: #fff;
}

.primengapp-dev-wrapper .primengapp-button-copy button:hover,
.primengapp-dev-wrapper .primengapp-button-copy button:focus {
  background: #f7f8f9;
  color: #000;
}

.primengapp-dev-wrapper .primeng-ptable .primengapp-button-excel .ui-button:enabled:hover,
.primengapp-dev-wrapper .primengapp-button-excel .ui-button:focus {
  background: #eee;
  color: #000;
  border:1px solid #ccc;
}

.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-colum-multiselect,
.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-keyword-search .input-search,
.primengapp-dev-wrapper .primengapp-table-features-wrapper .table-copy-excel-button {
  margin-top: 18px;
  margin-bottom: 18px;
  height: 32px;
}

.primengapp-dev-wrapper .primengapp-table-colum-multiselect .ui-multiselect-label-container {
  height: 32px;
}

.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-keyword-search input::placeholder {
  color: #454545;
}

.primengapp-dev-wrapper .primengapp-table-features-wrapper .primengapp-table-keyword-search .input-search {
  border:1px solid #ccc;
  font-weight: normal;
  padding-left: 8px;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-paginator-bottom {
  height: 60px;
  padding-top: 10px;
}

.primengapp-dev-wrapper .primeng-ptable .primengapp-table-features-wrapper {
  background-color: #ffffff;
}

.primengapp-dev-wrapper .primeng-ptable .ui-table .ui-sortable-column.ui-state-highlight,
.primengapp-dev-wrapper .primeng-ptable .ui-paginator .ui-paginator-page.ui-state-active {
  background-color: #009ddf;
}

.primengapp-block-class-wrapper .ui-tabview {
  padding: 0;
}

.ui-tabview .primengapp-tab-panel-wrapper > .ui-tabview-panel {
  padding: 0;
}

/**
 *
 */
.primeng-ptable .ui-paginator-bottom .ng-pristine.ui-inputwrapper-filled::after {
  content: "Results Displayed";
  font-weight: 500;
  margin-left: 6px;
}
