
<!-- <router-outlet></router-outlet> -->

<div class="primengapp-dev-wrapper">
  <!-- meeting event form -->
  <div *ngFor="let eachcomponent of sectionContent">
    <div *ngIf="eachcomponent.componentname == 'primengforms'; else elseBlock">
      <app-ngform [name]="eachcomponent"></app-ngform>
    </div>

    <div *ngIf="eachcomponent.componentname == 'primengchartjs'; else elseBlock">

      <app-primeng-chartjs [chartInputData]="eachcomponent"></app-primeng-chartjs>
    </div>

    <div *ngIf="eachcomponent.componentname == 'primengtable'; else elseBlock">
      <app-primeng-table [tableInputData]="eachcomponent"></app-primeng-table>
    </div>

    <div *ngIf="eachcomponent.componentname == 'customhtml'; else elseBlock">
      <app-custome-html [htmlInputData]="eachcomponent"></app-custome-html>
    </div>

    <div *ngIf="eachcomponent.componentname == 'navbuttons'; else elseBlock">
      <app-nav-button [displayNavButton]="eachcomponent.componentcontent"></app-nav-button>
    </div>

    <!-- <div *ngIf="eachcomponent.componentname == 'loadspinner'; else elseBlock">
      <app-load-spinner [displayloadspinner]="eachcomponent.componentcontent"></app-load-spinner>
    </div> -->
  </div>

  <app-load-spinner [displayloadspinner]="true"></app-load-spinner>

  <!-- <div *ngFor="let eachcomponent of sectionContent">

  </div>

  <div *ngFor="let eachcomponent of sectionContent">

  </div> -->
</div>

